.container-book {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5.5rem;
  margin-bottom: 17.375rem;

  & .header-book {
    text-align: center;
    margin-top: 14.6875rem;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      
      & img {
        filter: drop-shadow(0 0 0.5rem var(--pink-base));
      }

      & h2 {
        font: var(--title-sm);
      }
    }
    
    & p {
      font: var(--body-md);
      font-weight: 400;
    }
  }
  
  & .book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: relative;

    width: 90rem;
    height: 57.5rem;

    & .background-blur {
      position: absolute;

      width: 58.125rem;
      height: 58.125rem;
      border-radius: 50%;
      
      background-color: var(--pink-low);
      opacity: 0.5;
      filter: blur(300px);
    }

    & img[src*="book.png"] {
      position: absolute;
      z-index: 1;
      width: 29.1875rem;
      height: 38.5625rem;
    }

    & .book-animations {
      position: relative;
      width: 22.3125rem;
      height: 33.5rem;
      
      & .left-side {
        position: absolute;
        left: 0;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        height: 33.5rem;

        & .top {
          display: flex;
          align-items: center;
          flex-direction: column;

          & p {
            translate: 0;
            transition: translate 250ms linear;
          }

          & img {
            translate: 0;
            width: 0;
            height: 0;
            transition: translate 250ms linear, width 250ms linear, height 250ms linear;
          }
        }

        & .bottom {
          display: flex;
          align-items: start;
          flex-direction: column;

          & p {
            translate: 0;
            transition: translate 250ms linear;
          }

          & img:nth-child(2) {
            translate: 0;
            width: 2.335rem;
            height: 2.828125rem;
            transition: translate 250ms linear, width 250ms linear, height 250ms linear;
          }

          & img[src*="pin"] {
            width: 13.875rem;
            height: 15.875rem;
            rotate: 0;
            translate: 0;
            transition: rotate 250ms linear, translate 250ms linear, scale 250ms linear;
          }
        }
      }
      
      & .right-side {
        position: absolute;

        right: 0;
        top: 0;

        height: 33.5rem;
        width: 100%;

        & img[src*="bookmark"] {
          position: absolute;
          width: 10.75rem;
          height: 33.5rem;
          right: 0;

          &[src*="yellow"] {
            rotate: 0;
            translate: 0;
            transition: translate 250ms linear, rotate 250ms linear;
          }

          &[src*="purple"] {
            rotate: 0;
            translate: 0;
            transition: translate 250ms linear, rotate 250ms linear;
          }
        }

        & .bottom-right {
          position: absolute;
          display: flex;
          align-items: center;
          flex-direction: column;

          bottom: 0;
          right: 0;

          & img {
            translate: 0;
            width: 3.23875rem;
            height: 3.373125rem;
            transition: translate 250ms linear, width 250ms linear, height 250ms linear;
          }

          & p {
            translate: 0;
            transition: translate 250ms linear;
          }
        }
      }
    }
  }

  & .book:hover {

    & .left-side {
      & .top {

        & p {
          translate: -16.25rem -6.25rem;
        }

        & img {
            translate: -11.25rem -5.3125rem;
            width: 10.875rem;
            height: 1.875rem;
        }
      }

      & .bottom {

        & p {
          translate: -18.125rem 10rem;
        }

        & img:nth-child(2) {
          translate: -15.625rem 11.25rem;
          width: 6.553125rem;
          height: 7.9375rem;
        }

        & img[src*="pin"] {
          rotate: -8deg;
          translate: -12.1875rem 8.125rem;
        }
      }
    }

    & .right-side {


      & img[src*="bookmark"] {

        &[src*="yellow"] {
          rotate: 12deg;
          translate: 10.625rem -6.2rem;
        }

        &[src*="purple"] {
          rotate: 22deg;
          translate: 16.875rem;
        }
      }

      & .bottom-right {

        & img {
          translate: 15rem 8.75rem;
          width: 9.090625rem;
          height: 9.46875rem;
        }

        & p {
          translate: 11.5625rem 9.375rem;
        }
      }
    }
  }
}

@media (width < 90rem) {
  .container-book {

    & .header-book {
      margin: 6.5rem 2rem 4rem 2rem;

      & div {
        gap: 0.75rem;

        & img {
          width: 1.25rem;
        }
      }

      & p {
        font-size: 0.875rem;
      }
    }

    & .book {
      width: 23.4375rem;
      height: 19.9375rem;

      & .background-blur {
        width: 18.625rem;
        height: 18.625rem;
        filter: blur(103.226px);
      }

      & img[src*="book.png"] {
        width: 9.824375rem;
        height: 12.98rem;
      }

      & .book-animations {
        
        & .left-side {

          & .top {

            & p {
              font-size: 0.625rem;
              translate: 0.8125rem 2.1875rem;
            }

            & img {
              width: 3.67125rem;
              height: 0.63125rem;
              translate: 2.6875rem 2.1875rem;
            }
          }

          & .bottom {

            & p {
              font-size: 0.625rem;
              translate: 1.0625rem -14.875rem;
            }

            & img:nth-child(2) {
              width: 2.205625rem;
              height: 2.671875rem;
              translate: 2.0625rem -13.9375rem;
            }

            & img[src*="pin"] {
              width: 4.680625rem;
              height: 5.3375rem;
              translate: 3.125rem -14.875rem;
              rotate: -8deg;
            }
          }
        }

        & .right-side {

          & img[src*="bookmark"] {

            &[src*="yellow"] {
                width: 3.65rem;
                height: 11.3075rem;
                rotate: 11.72deg;
                translate: -3.75rem 1.875rem;
              }
              
              &[src*="purple"] {
                width: 3.618125rem;
                height: 11.275625rem;
                rotate: 22.09deg;
                translate: -1.625rem 3.75rem;
              }
          }

          & .bottom-right {

            & img {
              width: 3.06rem;
              height: 3.186875rem;
              translate: -0.9375rem -15.3125rem;
            }

            & p {
              font-size: 0.625rem;
              translate: -1.875rem -15.3125rem;
            }
          }
        }
      }
    }
  }
}