footer {
  width: 100%;
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  & img[src*="trace-background"] {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  & .container {
    margin-inline: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    & .left {
      & > img {
        width: 16.5rem;
        height: 4.160625rem;
      }
  
      & .social {
        display: flex;
        align-items: center;  
        justify-content: space-between;
        border-top: 1px solid var(--shape-stroke);
        margin-top: .75rem;
  
        & svg {
          margin-top: .75rem;
          width: 2.5rem;
          height: 2.5rem;
          padding: .5rem;
          border-radius: 50%;
          
          transition: background-color 250ms linear;
          & path {
            fill: var(--blue-base);
            transition: fill 250ms linear;
          }
  
          &:hover {
            background-color: var(--shape-stroke);
            
            & path {
              fill: var(--text-body);
            }  
          }
        }
      }
    }
  
    & .right {
      display: flex;
      align-items: center;
      gap: 3.5rem;
      
      & .about {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 0.75rem;
  
        & h4 {
          font: var(--title-xs);
          color: var(--text-body);
          margin-bottom: 1.25rem;
        }
  
        & a {
          transition: color 250ms linear;
  
          &:hover {
            color: var(--text-body);
          }
        }
      }
    }
  }

}

@media (width < 90rem) {
  footer {
    width: 100%;
    height: 100%;
    justify-content: center;

    & img[src*="trace-background"] {
      height: 25.9375rem;
    }

    & .container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;

      height: 100%;

      margin-inline: 32px;
      margin-top: 6.125rem;

      & .left {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        & > img {
          width: 9.9075rem;
          height: 2.5rem;
        }
        
        & .social {
          width: 100%;

          & svg {
            transition: none;

            & path {
              transition: none;
            }

            &:hover {
              background-color: transparent;
              
              & path {
                fill: var(--blue-base);
              }  
            }
          }
        }
      }

      & .right {
        width: 100%;
        gap: 1.5rem;

        & .about {
          width: 8.9375rem;
        }
      }
    }
  }
}