.hero {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  
  & img[src*="hero-background"] {
    position: absolute;
    z-index: -1;
    
    width: 130%;
    height: 59.25rem;
    animation: fadeIn 1.5s ease forwards;
  }

  & header {
    width: 100%;
    margin-inline: 10rem;
    padding-inline: 10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 3.5rem;
    & img {
      width: 14.375rem;
    }

    & .button {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms linear;
      position: relative;
      z-index: 0;
      
      &::before {
        content: "";
        position: absolute;
        border-radius: .5rem;
        width: 0%;
        height: 0%;
        background-color: var(--pink-base);
        z-index: -1;
        transition: width 250ms linear, height 250ms linear;
      }

      &:hover {

        &::before {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  & .hero-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    max-width: 41rem;
    text-align: center;

    margin-top: 10.25rem;
    margin-bottom: 29.375rem;

    & h2 {
      animation: fadeIn 1.5s linear forwards;
    }
    
    & p {
      margin-top: 2rem;
      color: transparent;
      animation: fadeIn 0.8s .7s linear forwards;
      max-width: 35.5rem;
    }
  }

  & .hero-gift {
    margin-top: 6rem ;
    padding-bottom: 4.5rem;
    margin-bottom: 5rem;
    margin-inline: 7.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    & img[src*="opened-spellbook"] {
      width: 5.5rem;
      height: 5.5rem;
      transform: rotate(20.76deg);
      opacity: 0;
      scale: 0;
      transition: scale 250ms linear, opacity 250ms linear, rotate 250ms linear;
    }

    & p {
      font: var(--subtitle);
      color: var(--text-label);
      text-align: center;
    }

    & span{
      font: var(--subtitle);
      color: var(--text-label);

      &:nth-child(1) {
        transition: color 1ms linear;
      }
      &:nth-child(3) {
        transition: color 1ms 500ms linear;
      }
      &:nth-child(5) {
        transition: color 1ms 1s linear;
      }
    }

    & strong {
      &:nth-child(2) {
        transition: color 1ms linear;
      }
      &:nth-child(4) {
        transition: color 1ms 500ms linear;
      }
      &:nth-child(6) {
        transition: color 1ms 1s linear;
      }
    }
    
    & div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      
      & img[src*="ouija-planchette"] {
        width: 5rem;
        transform: rotate(99.47deg);
        opacity: 0;
        scale: 0;
        transition: scale 250ms linear, opacity 250ms 500ms linear, rotate 250ms linear;
      }
      
      & img[src*="crystal-ball"] {
        width: 4.5rem;
        transform: rotate(-14.48deg);
        opacity: 0;
        scale: 0;
        transition: scale 250ms linear, opacity 250ms 1s linear, rotate 250ms linear;
      }
    }

    &:hover {

      & img[src*="opened-spellbook"] {
        opacity: 1;
        scale: 1;

        &:hover {
          scale: 1.1;
          rotate: 10deg;
        }
      }
      & img[src*="ouija-planchette"] {
        opacity: 1;
        scale: 1;
        
        &:hover {
          scale: 1.1;
          rotate: 10deg;
        }
      }
      & img[src*="crystal-ball"] {
        opacity: 1;
        scale: 1;

        &:hover {
          scale: 1.1;
          rotate: 10deg;
        }
      }

      & p {
        span:nth-child(1) {
          color: var(--text-body);
        }
        span:nth-child(3) {
          color: var(--text-body);
        }
        span:nth-child(5) {
          color: var(--text-body);
        }
        & strong {
          &:nth-child(2) {
            color: var(--blue-light);
          }
          &:nth-child(4) {
            color: var(--blue-light);
          }
          &:nth-child(6) {
            color: var(--blue-light);
          }
        }
      } 
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    color: var(--text-body);
  }
  
  100% {
    opacity: 1;
    color: var(--text-body);
  }
}

@media (width < 90rem) {
  .hero {

    & img[src*="hero-background"] {
      width: 250%;
      height: 29rem;
      animation: none;
    }

    & header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-block: 0;
      padding-inline: 1.25rem;
      margin-top: 1.25rem;
      
      & img {
        width: 4.034375rem;
        height: 3rem;
      }
    }

    & .hero-title {
      margin-top: 3rem;
      margin-bottom: 12.0625rem;
      padding-inline: 1.25rem;

      & h2 {
        color: var(--text-body);
        animation: none;
      }

      & p {
        margin-top: 1rem;
        color: var(--text-body);
        animation: none;
      }
    }

    & .hero-gift {
      padding-bottom: 1rem;
      margin: 0;
      position: relative;

      & img[src*="opened-spellbook"] {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        transform: rotate(15deg);
        opacity: 1;
        scale: 1;
        right: 4.625rem;
        top: 1.75rem;
      }

      & p {
        color: var(--text-body);
        padding-top: 5.10375rem;
        padding-inline: 1.25rem;
      }

      & span{
        font: inherit;
        color: inherit;

        &:nth-child(1) {
          transition: none;
        }
        &:nth-child(3) {
          transition: none;
        }
        &:nth-child(5) {
          transition: none;
        }
      }

      & strong {
        font: inherit;
        color: inherit;

        &:nth-child(2) {
          transition: none;
        }
        &:nth-child(4) {
          transition: none;
        }
        &:nth-child(6) {
          transition: none;
        }
      }

      & div {
        padding-inline: 1.25rem;
        & img[src*="ouija-planchette"] {
          width: 2rem;
          transform: rotate(-30deg);
          opacity: 1;
          scale: 1;
          transition: none;
          left: 0.875rem;
          bottom: 3.125rem;
        }

        & img[src*="crystal-ball"] {
          width: 2.5rem;
          transform: rotate(15deg);
          opacity: 1;
          scale: 1;
          transition: none;
        }
      }
    }
    
  }
}