.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  & img[src*="hero-background"] {
    position: absolute;
    z-index: -1;
    
    width: 130%;
    object-fit: cover;
    animation: fadeIn 1.5s ease forwards;
  }

  & header {
    width: 100%;
    margin-inline: 10rem;
    padding-inline: 10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 3.5rem;
    & img {
      width: 14.375rem;
    }
  }

  & .hero-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    max-width: 41rem;
    text-align: center;

    margin-top: 10.25rem;

    & h2 {
      animation: fadeIn 1.5s linear forwards;
    }
    
    & p {
      margin-top: 2rem;
      color: transparent;
      animation: fadeIn 0.8s .7s linear forwards;
      max-width: 35.5rem;
    }
  }

  & .hero-gift {
    margin-top: 35.375rem ;
    padding-bottom: 4.5rem;
    margin-bottom: 5rem;
    margin-inline: 7.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;


    text-align: center;

    & img[src*="opened-spellbook"] {
      width: 5.5rem;
      height: 5.5rem;
      transform: rotate(20.76deg);
      opacity: 0;
      scale: 0;
      transition: scale 250ms linear, opacity 250ms linear, rotate 250ms linear;
    }

    & p {
      font: var(--subtitle);
      color: var(--text-label);
    }

    & span{
      font: var(--subtitle);
      color: var(--text-label);

      &:nth-child(1) {
        transition: color 1ms linear;
      }
      &:nth-child(3) {
        transition: color 1ms 500ms linear;
      }
      &:nth-child(5) {
        transition: color 1ms 1s linear;
      }
    }

    & strong {
      &:nth-child(2) {
        transition: color 1ms linear;
      }
      &:nth-child(4) {
        transition: color 1ms 500ms linear;
      }
      &:nth-child(6) {
        transition: color 1ms 1s linear;
      }
    }
    
    & div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      
      & img[src*="ouija-planchette"] {
        width: 5rem;
        transform: rotate(99.47deg);
        opacity: 0;
        scale: 0;
        transition: scale 250ms linear, opacity 250ms 500ms linear, rotate 250ms linear;
      }
      
      & img[src*="crystal-ball"] {
        width: 4.5rem;
        transform: rotate(-14.48deg);
        opacity: 0;
        scale: 0;
        transition: scale 250ms linear, opacity 250ms 1s linear, rotate 250ms linear;
      }
    }

    &:hover {

      & img[src*="opened-spellbook"] {
        opacity: 1;
        scale: 1;

        &:hover {
          scale: 1.1;
          rotate: 10deg;
        }
      }
      & img[src*="ouija-planchette"] {
        opacity: 1;
        scale: 1;
        
        &:hover {
          scale: 1.1;
          rotate: 10deg;
        }
      }
      & img[src*="crystal-ball"] {
        opacity: 1;
        scale: 1;

        &:hover {
          scale: 1.1;
          rotate: 10deg;
        }
      }

      & p {
        span:nth-child(1) {
          color: var(--text-body);
        }
        span:nth-child(3) {
          color: var(--text-body);
        }
        span:nth-child(5) {
          color: var(--text-body);
        }
        & strong {
          &:nth-child(2) {
            color: var(--blue-light);
          }
          &:nth-child(4) {
            color: var(--blue-light);
          }
          &:nth-child(6) {
            color: var(--blue-light);
          }
        }
      } 
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    color: var(--text-body);
  }
  
  100% {
    opacity: 1;
    color: var(--text-body);
  }
}