#plans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  & img[src*="background"] {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & > h2 {
    text-align: center;
    margin-top: 12.125rem;
    font: var(--title-sm);
  }

  & .blur-background {
    position: absolute;
    filter: blur(284px);
    width: 59rem;
    height: 59rem;
    background-color: var(--shape-base);
    border-radius: 50%;
    z-index: -1;
  }

  & .cards {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65.625rem;
    height: 37.875rem;
    margin-bottom: 302px;
    position: relative;

    & .card {
      position: absolute;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: var(--shape-base);
      padding: 2rem 2rem 2rem 1.75rem;
      
      border-radius: 1.5rem;
      border: 1px solid var(--shape-hover);

      width: 18rem;
      height: 26rem;

      margin-top: 8.630625rem;

      cursor: default;

      transition: transform 250ms linear;

      & header {
        width: 100%;

       & div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & strong {
          font: var(--title-xs);
          color: var(--pink-light);
        }

        & p {
          font: var(--tag);
          color: var(--text-body);
          text-transform: uppercase;

          background-color: var(--shape-stroke);
          padding: 0.5625rem 1.25rem;
          border-radius: 999px;
          letter-spacing: 0.05em;
        }
       }

       & p {
        font: var(--title-xs);

        & strong {
          font: var(--title-md);
        }
       }

       & small {
        font: var(--body-sm);
        color: var(--text-label);
        font-weight: 400;
       }
      }

      & .details {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: auto;
        width: 100%;

        & ul[role="list"] {
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: start;
          
          gap: 0.75rem;

          & li {
            width: 100%;
            display: flex;
            align-items: center;
            
            & img {
              width: 0.87875rem;
              height: 0.87875rem;
              margin-right: 0.5rem;
            }

            & p {
              font: var(--body-xs);
              font-weight: 400;
            }
          }
        }

        & button {
          margin-top: 1.5rem;
          width: 100%;
        }
      }
    }

    & .left {
      z-index: 0;
      animation: slideLeft 250ms forwards;
      animation-play-state: paused;
      & .images {
        position: absolute;
        display: flex;
        flex-direction: column;

        & img:nth-child(1) {
          width: 1.625rem;
          translate: -175px -200px;
          transition: rotate 250ms linear;
        }
        & img:nth-child(2) {
          width: 0.81625rem;
          translate: -180px -190px;
        }
      }

      & button {
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 0;
        background-color: var(--blue-dark);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          border-radius: .5rem;
          width: 0%;
          height: 0%;
          background-color: var(--blue-mid);
          z-index: -1;
          transition: width 250ms linear, height 250ms linear;
        }

        &:hover {

          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    
    & .central {
      z-index: 1;

      & img[src*="bunny"] {
        position: absolute;
        translate: -5rem -14.5rem;
      }
      
      & button {
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 0;
        background-color: var(--pink-dark);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          border-radius: .5rem;
          width: 0%;
          height: 0%;
          background-color: var(--pink-base);
          z-index: -1;
          transition: width 250ms linear, height 250ms linear;
        }

        &:hover {

          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    
    & .right {
      z-index: 0;
      animation: slideRight 250ms forwards;
      animation-play-state: paused;

      & .images {
        position: absolute;
        display: flex;
        flex-direction: column;

        & img:nth-child(1) {
          width: 1.625rem;
          translate: 170px 220px;
          transition: rotate 250ms linear;
        }
        & img:nth-child(2) {
          width: 0.81625rem;
          translate: 150px 210px;
          transition: rotate 250ms linear;
        }
      }
      
      & button {
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 0;
        background-color: var(--blue-dark);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          border-radius: .5rem;
          width: 0%;
          height: 0%;
          background-color: var(--blue-mid);
          z-index: -1;
          transition: width 250ms linear, height 250ms linear;
        }

        &:hover {

          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &:hover {
      
      & .card {
        &:hover {
          filter: drop-shadow(0 0 1rem var(--shape-base));
          background-color: var(--shape-hover);
          transform: translateY(-1rem);
        }
      }

      & .left {
        animation-play-state: running;
        &:hover {
          z-index: 2;
          
          & .images img{
  
            &:nth-child(1) {
              rotate: -15deg;
            }
            &:nth-child(2) {
              rotate: 15deg;
            }
          }
        }
      }
      
      & .right {
        animation-play-state: running;
        &:hover {
          z-index: 1;
  
          & .images img{
            &:nth-child(1) {
              rotate: 15deg;
            }
            &:nth-child(2) {
              rotate: -15deg;
            }
          }
        }
      }
    }
  }
  
}

@keyframes slideLeft {
  to {
    rotate: -8deg;
    translate: -18.125rem 3.75rem;
  }
}

@keyframes slideRight {
  to {
    rotate: 8deg;
    translate: 18.125rem 3.75rem;
  }
}

@media (width < 90rem) {
  #plans {
    & > h2 {
      margin-top: 6.5rem;
    }
    
    & .cards {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: initial;
      flex-wrap: nowrap;
      overflow-x: auto;

      gap: 1rem;

      margin-left: 3.25rem;
      & .card {
        margin-top: 3rem;
        flex: 0 0 auto;
        position: relative;
        height: 25rem;

        & header {

          & div {
            & strong {
              color: var(--blue-light);
            }
          }

          & p {
            font: var(--title-xs);
            & strong {
              font-weight: 700;
              font-size: 2.5rem;
            }
          }
        }
      }

      & .left {
        animation: none;
      }


      & .central {
        & header {
          & div {
            & strong {
              color: var(--pink-light);
            }
          }
        }
      }
      
      & .right {
        animation: none;
      }

      &:hover {

        & .card {
          &:hover {
            background-color: var(--shape-base);
            transform: translateY(0);
            filter: none;
          }
        }
      }
    }
  }
}